{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>{% trans "Social Network Login Failure" %}</h1>

        <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
        
        <p>
            {% blocktrans %}
                <a href="{% url "core:home-page" %}">
                    Retornar a página principal
                </a> 
            {% endblocktrans %}
        </p>
    </div>
</div>
{% endblock %}
