{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div> 
            <div>
                <h1>{% trans "Sign In" %}</h1>
            </div> 
            <div>
                <form method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                </form> 
            </div>      
        </div>
    </div>
    <div class="col-md-2">
        <div class="horizontal-divider"></div>
    </div>
    <div class="col-md-4">
        <div class="">
            {% if socialaccount.providers  %}
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                {% include "socialaccount/snippets/login_extra.html" %}
            {% endif %}
                <p>
                    {% blocktrans %}
                        Se voce nao possui uma conta criada ainda, então por favor
                        <a href="{{ signup_url }}">registre-se</a>.
                    {% endblocktrans %}
                </p>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}
