{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
            {% endif %}
            <button class="btn bg-olive" type="submit">{% trans 'Sign Out' %}</button>
        </form>
        <p>
            <a href="{% url "core:home-page" %}">
                {% trans "Retornar a página principal" %}
            </a> 
        </p>
    </div>
</div>


{% endblock %}
