{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="form-box" id="login-box">
        <div class="header">
            {% trans "Change Password" %}
        </div>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            <div class="body bg-gray">
                {{ form.as_p }}
            </div>
            <div class="footer">                                                               
                <button class="btn bg-olive btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
            </div>
        </form>
    </div>
{% endblock %}
