{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="form-box" id="login-box">
    <div class="header">
        {% trans "Set Password" %}
    </div>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        <div class="body bg-gray">
            {{ form.as_p }}
        </div>
        <div class="footer">                                                               
            <input class="btn bg-olive btn-block" type="submit" name="action" value="{% trans "Set Password" %}"/>
        </div>
    </form>
{% endblock %}
