{% extends 'base.html' %}
{% block title %} Palestras {% endblock title %}
{% block meta_description %} Listagem de palestras feitas pela comunidade Python. {% endblock meta_description %}
{% block meta_keywords %} Palestras, Comunidade, Python {% endblock meta_keywords %}

{% load i18n %}

{% block content %}
<h1> {% trans 'Palestras' %} </h1>
    {% if talk_list %}
        <section>
            {% for talk in talk_list %}
                <article>
                    <header>
                        <h2 id="{{talk.slug}}">
                            <a href="{% url 'talks:talk-detail-view' slug=talk.slug %}">
                                {{ talk.title }}
                            </a>
                        </h2>
                        <a href="{% url 'speakers:speaker-detail-view' slug=talk.speaker.slug %}">
                            <h3>  {{ talk.speaker.get_full_name }} </h3>
                        </a>
                    </header>
                    {{ talk.summary }}
                    {% if talk.medias.all %}
                        <footer> 
                            {% for media in talk.medias.all %}
                                <a href="{{ media.url }}">{{ media.title }}</a> 
                                {% if not forloop.last %} - {% endif %}
                            {% endfor %}
                        </footer>
                    {% endif %}
                </article>
            {% endfor %}
        </section>
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'talks:talk-list-view' %}?page={{ page_obj.previous_page_number }}">
                            {% trans 'Anterior' %}
                        </a>
                    {% endif %}
                    <span class="page-current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'talks:talk-list-view' %}?page={{ page_obj.next_page_number }}">
                            {% trans 'Próximo' %}
                        </a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <p>Nenhuma palestra encontrada!!! :(</p>
    {% endif %}
{% endblock %}
