{% extends 'dashboards/base.html' %}

{% load i18n %}
{% load gravatar %}


{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {% trans 'Perfil' %}
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboards:dashboard-index-view' %}">
                <i class="fa fa-dashboard"></i> Home
            </a>
        </li>
        <li class="active">
            {% trans 'Perfil' %}
        </li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center">
               {% trans 'Visualizar o perfil' %}
            </h3>
            <div class="text-center">
                <img src="{% gravatar_url request.user.email 150 %}" class="img-circle">
            </div>
            <div class="">
                <h4 class="text-center">
                    {{ request.user.get_full_name }}
                </h4>
                <h5>
                    {% trans "Sobre" %}
                </h5>
                <p>
                    {{ request.user.bio }}
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                           {% trans 'Trocar senha' %}
                        </h3>
                    </div><!-- /.box-header -->
                </div>
            </div>
            <div class="row">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                           {% trans 'Informações pessoais' %}
                        </h3>
                    </div><!-- /.box-header -->
                    <form role="form" action="{% url "speakers:speaker-profile-save-basic-information" %}" method="post">{% csrf_token %}
                        <div class="box-body">
                            <div class="form-group{% if basic_information_form.first_name.errors %} has-error{% endif %}">
                                {{ basic_information_form.first_name.label_tag }}
                                {{ basic_information_form.first_name }}
                                <p class="text-aqua">
                                    {{ basic_information_form.first_name.help_text }}
                                </p>
                                {% if basic_information_form.first_name.errors %}
                                    {% for error in basic_information_form.first_name.errors %}
                                        <p class="text-red"> {{ error }} </p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group{% if basic_information_form.last_name.errors %} has-error{% endif %}">
                                {{ basic_information_form.last_name.label_tag }}
                                {{ basic_information_form.last_name }}
                                <p class="text-aqua">
                                    {{ basic_information_form.last_name.help_text }}
                                </p>
                                {% if basic_information_form.last_name.errors %}
                                    {% for error in basic_information_form.last_name.errors %}
                                        <p class="text-red"> {{ error }} </p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group{% if basic_information_form.bio.errors %} has-error{% endif %}">
                                {{ basic_information_form.bio.label_tag }}
                                {{ basic_information_form.bio }}
                                <p class="text-aqua">
                                    {{ basic_information_form.bio.help_text }}
                                </p>
                                {% if basic_information_form.bio.errors %}
                                    {% for error in basic_information_form.bio.errors %}
                                        <p class="text-red"> {{ error }} </p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">
                                {% trans "Enviar" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
