{% extends 'base.html' %}
{% block title %} Palestrantes {% endblock title %}
{% block meta_description %} Listagem de palestrantes cadastrados. {% endblock meta_description %}
{% block meta_keywords %} Palestrantes, lista, python {% endblock meta_keywords %}


{% block content %}
    {% if speaker_list %}
        <ul id="">
            {% for speaker in speaker_list %}
                <li>{{ speaker.name }} - {{ speaker.bio }}</td>
            {% endfor %}
        </ul>
        {# .... **Now the pagination section** .... #}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="/palestrantes?page={{ page_obj.previous_page_number }}">
                            anterior
                        </a>
                    {% endif %}
                    <span class="page-current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/palestrantes?page={{ page_obj.next_page_number }}">
                            próximo
                        </a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <h3>Palestrantes</h3>
        <p>Nenhum palestrante encontrado!!! :(</p>
    {% endif %}
{% endblock %}
