{% extends 'base.html' %}
{% block title %} Palestrantes {% endblock title %}
{% block meta_description %} Listagem de palestrantes cadastrados. {% endblock meta_description %}
{% block meta_keywords %} Palestrantes, lista, python {% endblock meta_keywords %}


{% block content %}
    {% if speaker_list %}
        <dl >
            {% for speaker in speaker_list %}
                <dt> {{ speaker.name }}</dt>
                <dd>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_speaker_contact_{{ speaker.pk }}">
                                        Biografia
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_speaker_contact_{{ speaker.pk }}" class="panel-collapse collapse out">
                                <div class="panel-body">
                                    {{ speaker.bio }}
                                </div>
                            </div>
                        </div>
                    </div>
                </dd>
                {% for contact in speaker.kindcontact_set.all %}
                    <dd> 
                        {% if contact.kind == 'E' %}
                            <a href="mailto:{{ contact.value }}">{{ contact.value }}</a>
                        {% elif contact.kind in 'PH' or contact.kind in 'FX' %}
                            {{ contact.get_kind_display }}: {{ contact.value }}
                        {% else %}
                            <a href="{{ contact.value }}">{{ contact.get_kind_display }}</a>
                        {% endif %}
                        
                    </dd>
                {% endfor %}
            {% endfor %}
        </dl>
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="/palestrantes?page={{ page_obj.previous_page_number }}">
                            anterior
                        </a>
                    {% endif %}
                    <span class="page-current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/palestrantes?page={{ page_obj.next_page_number }}">
                            próximo
                        </a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <h3>Palestrantes</h3>
        <p>Nenhum palestrante encontrado!!! :(</p>
    {% endif %}
{% endblock %}
