{% extends 'base.html' %}
{% block title %} Palestrantes {% endblock title %}
{% block meta_description %} Listagem de palestrantes cadastrados. {% endblock meta_description %}
{% block meta_keywords %} Palestrantes, lista, python {% endblock meta_keywords %}


{% block content %}
<h1> Palestrantes </h1>
	{% if letters %}
		<ul>
		{% for letter in letters %}
			<li>
				<a href="?startswith={{ letter }}"> {{ letter }} </a>
			</li>
		{% endfor %}
		</ul>
	{% endif %}
    {% if speaker_list %}
        <section>
            {% for speaker in speaker_list %}
                <article>
                    <header>
                        <h2 id="{{speaker.slug}}"> 
                            <a href="{% url 'speakers:speaker-detail-view' slug=speaker.slug %}">
                                {{ speaker.get_full_name }}
                            </a>
                        </h2>
                    </header>
                    {{ speaker.bio }}
                    {% if speaker.contacts.all %}
                        <footer> 
                            {% for contact in speaker.contacts.all %}
                                {% if contact.kind == 'E' %}
                                    <a href="mailto:{{ contact.value }}">{{ contact.value }}</a> 
                                {% elif contact.kind in 'PH' or contact.kind in 'FX' %}
                                    {{ contact.get_kind_display }}: {{ contact.value }}
                                {% else %}
                                    <a href="{{ contact.value }}">{{ contact.get_kind_display }}</a> 
                                {% endif %}
                                {% if not forloop.last %} - {% endif %}
                            {% endfor %}
                        </footer>
                    {% endif %}
                </article>
            {% endfor %}
        </section>
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'speakers:speaker-list-view' %}?page={{ page_obj.previous_page_number }}">
                            anterior
                        </a>
                    {% endif %}
                    <span class="page-current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'speakers:speaker-list-view' %}?page={{ page_obj.next_page_number }}">
                            próximo
                        </a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <p>Nenhum palestrante encontrado!!! :(</p>
    {% endif %}
{% endblock %}
