{% load i18n %}
{% load gravatar %}

<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{% gravatar_url request.user.email 45 %}" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>
                    {% trans "Olá" %}, {{ request.user.get_short_name }}
                </p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <!-- <form action="#" method="get" class="sidebar-form"> -->
        <!--     <div class="input-group"> -->
        <!--         <input type="text" name="q" class="form-control" placeholder="Search..."/> -->
        <!--         <span class="input-group-btn"> -->
        <!--             <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button> -->
        <!--         </span> -->
        <!--     </div> -->
        <!-- </form> -->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="{% url 'dashboards:dashboard-index-view' %}" class="">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-comments-o"></i>
                    <span>
                        {% trans "Palestras" %}
                    </span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="{% url 'dashboards:dashboard-talk-index-view' %}">
                            <i class="fa fa-angle-double-right"></i>
                            {% trans "Index" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'dashboards:dashboard-talk-create-view' %}">
                            <i class="fa fa-angle-double-right"></i>
                            {% trans "Adicionar" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'dashboards:dashboard-talk-list-view' %}">
                            <i class="fa fa-angle-double-right"></i>
                            {% trans "Listar" %}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-video-camera"></i>
                    <span>
                        {% trans "Videos" %}
                    </span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="{% url 'dashboards:dashboard-screencast-index-view' %}">
                            <i class="fa fa-angle-double-right"></i>
                            {% trans "Index" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'dashboards:dashboard-screencast-create-view' %}">
                            <i class="fa fa-angle-double-right"></i>
                            {% trans "Adicionar" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'dashboards:dashboard-screencast-list-view' %}">
                            <i class="fa fa-angle-double-right"></i>
                            {% trans "Listar" %}
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li class="treeview"> -->
            <!--     <a href="#"> -->
            <!--         <i class="fa fa-edit"></i> -->
            <!--         <span> -->
            <!--             {% trans "Tutoriais" %} -->
            <!--         </span> -->
            <!--         <i class="fa fa-angle-left pull-right"></i> -->
            <!--     </a> -->
            <!--     <ul class="treeview-menu"> -->
            <!--         <li> -->
            <!--             <a href="pages/charts/morris.html"> -->
            <!--                 <i class="fa fa-angle-double-right"></i> -->
            <!--                 {% trans "Adicionar" %} -->
            <!--             </a> -->
            <!--         </li> -->
            <!--         <li> -->
            <!--             <a href="pages/charts/flot.html"> -->
            <!--                 <i class="fa fa-angle-double-right"></i> -->
            <!--                 {% trans "Listar" %} -->
            <!--             </a> -->
            <!--         </li> -->
            <!--     </ul> -->
            <!-- </li> -->
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
