{% extends 'base.html' %}
{% block title %} Página principal {% endblock title %}
{% block meta_description %}
Coleção de materiais para aprendizagem em Python incluindo videos, palestras, artigos, slides e muito mais.
{% endblock meta_description %}
{% block meta_keywords %} Python, Palestrantes, Tutoriais, Palestras, Screencasts{% endblock meta_keywords %}

{% load i18n %}

{% block content %}
<section>
    <div class="jumbotron">
        <h1>Bem vindos ao , PyWatch!</h1>
        <div class="row">
            <div class="col-md-4">
                <p>
                    {% blocktrans %}
                        Veja a apresentação do sistema no video ao lado, e popularize seu conhecimento
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-md-8 embed-responsive embed-responsive-16by9">
                <iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>
<section>
    <h2> {% trans "Últimos palestras cadastradas" %} </h2>
    {% if most_recent_talks_list %}
        <ul class="list-unstyled">
            {% for talk in most_recent_talks_list %}
                <li> 
                    <a href="{% url 'talks:talk-detail-view' slug=talk.slug %}"> 
                        {{ talk.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma palestra encontrada!!! :(</p>
    {% endif %}
</section>

<section>
    <h2> {% trans "Últimos palestrantes cadastrados" %} </h2>
    {% if most_recent_speakers_list %}
        <ul class="list-unstyled">
            {% for speaker in most_recent_speakers_list %}
                <li> 
                    <a href="{% url 'speakers:speaker-detail-view' slug=speaker.slug %}"> 
                        {{ speaker.get_full_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum palestrante encontrado!!! :(</p>
    {% endif %}
</section>

<section class="well">
    <div class="bs-callout bs-callout-info">
        <h3>{% trans "Deseja contribuir com a evolução do pywatch?" %}</h3>
        <p>
            {% blocktrans %}
                Se você deseja melhorar o código, relatar um bug, melhorar o layout do site <del>sou ótimo designer, só que não (: </del>  <br />
                ou até mesmo ajudar na tradução do aplicativo...
            {% endblocktrans %}
        <p>
            {% trans "Entre e conheça mais sobre o" %}
            <a href="https://github.com/lucassimon/pywatch.com.br" target="_blank" class="btn btn-primary btn-lg">
                {% trans "Projeto" %}
            </a>
        </p>
    </div>
</section>

{% endblock %}
