{% extends 'dashboards/base.html' %}
{% load i18n %}

{% block content %}
 <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {% trans "Videos" %}
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboards:dashboard-index-view' %}">
                <i class="fa fa-dashboard"></i> Home
            </a>
        </li>
        <li class="active">
            {% trans "Videos" %}
        </li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
        <div class="callout callout-info">
            <h4>
                {% blocktrans %}
                Crie, atualize, liste ou exclua seus videos!
                {% endblocktrans %}
            </h4>
            <p>
                {% blocktrans %}
                    Para realizar as ações desejadas clique nos links abaixo. Ou use o menu lateral.
                {% endblocktrans %}
            </p>
        </div>
        <a href="{% url 'dashboards:dashboard-serie-create-view' %}" class="btn btn-app">
            <i class="fa fa-plus"></i>
            {% trans "Criar Series" %}
        </a>
        <a href="{% url 'dashboards:dashboard-serie-list-view'  %}" class="btn btn-app">
            <i class="fa fa-list"></i>
            {% trans "Listar Series" %}
        </a>
        <a href="{% url 'dashboards:dashboard-screencast-create-view' %}" class="btn btn-app">
            <i class="fa fa-plus"></i>
            {% trans "Criar Videos" %}
        </a>
        <a href="{% url 'dashboards:dashboard-screencast-list-view' %}" class="btn btn-app">
            <i class="fa fa-list"></i>
            {% trans "Listar Videos" %}
        </a>
</section>
{% endblock %}
