{% load staticfiles %}
{% load url from future %}
{% load i18n %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="pt-br"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>PyWatch :: {% block title %}{% endblock %}</title>
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="description" content="{% block meta_description %} Pywatch - A sua biblioteca digital em Python {% endblock %}">
        <meta name="keyworkds" content="{% block meta_keywords %}{% endblock %}">
        <meta name="author" content="Lucas Simon Rodrigues Magalhaes">
        
        <!-- Library CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:700%7CMerriweather:400,300' rel='stylesheet' type='text/css'>

        
        <!-- Favicons -->
        <link rel="shortcut icon" href="img/ico/favicon.ico">
        <link rel="apple-touch-icon" href="img/ico/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/ico/apple-touch-icon-72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/ico/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/ico/apple-touch-icon-144.png">
        
        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js">
            </script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js">
            </script>
        <![endif]-->
        <link rel="shortcut icon" href="{% static "ico/favicon.ico" %}" />

        <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url "core:home-page" %}">PyWatch</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'talks:talk-list-view' %}">
                                {% trans "Palestras" %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'screencasts:screencast-list-view' %}">
                                {% trans "Videos" %}
                            </a>
                        </li>
                        <!--<li><a href="/screencasts">Screencasts</a></li>-->
                        <!--<li><a href="/palestras">Tutoriais</a></li>-->
                        <li>
                            <a href="{% url 'speakers:speaker-list-view' %}">
                                {% trans "Palestrantes" %}
                            </a>
                        </li>
                    </ul>
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li><a href="http://twitter.com/emberwatch"><i class="fa fa-twitter"></i> &nbsp;@pywatch</a></li>-->
                    <!--</ul>-->
                    <div class="col-lg-4 pull-right">
                        <form class="navbar-form navbar-right" role="form" action="{% url 'haystack_search' %}">
                            <div class="input-group">
                                <input name="q" type="text" placeholder="" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        {% trans "Buscar!" %}
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="navbar-buttons navbar-header pull-right" role="navigation">
                        <ul class="nav ">
                            {% if user.is_authenticated %}
                            <li class="">
                                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                    <span class="">
                                        <small>{% trans "Bem Vindo" %},</small>
                                        {{ request.user.get_short_name }}
                                    </span>
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                    <li>
                                        <a href="{% url "dashboards:dashboard-index-view" %}">
                                            {% trans "Dashboard" %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'speakers:speaker-profile-view' %}">
                                            {% trans "Perfil" %}
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{% url 'account_logout' %}">
                                            {% trans "Sair" %}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'account_login' %}">
                                    {% trans "Entrar" %}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div id="main-messages" class="container">
            <div class="row">
                <div class="span12">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-block alert-{{ message.tags }} fade in" style="margin-bottom: 0px;">
                        <a class="close" data-dismiss="alert" href="#">x</a>
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}
        
            {% endblock %}
        </div>

        <footer id="footerwrap">
            <div class="container"> 
                <div class="span12 text-center">
                    <p>
                        {% blocktrans %}
                        <a href="http://www.djangoproject.com/" target="_blank"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>
                        por Lucas Simon Rodrigues Magalhães
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </footer>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <script>
            var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"],["_trackPageLoadTime"]];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
            g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
            s.parentNode.insertBefore(g,s)}(document,"script"));
        </script>
		<script type="text/javascript">
			var disqus_shortname = 'pywatch'; 

			(function () {
				var s = document.createElement('script');
				s.async = true;
				s.type = 'text/javascript';
				s.src = '//' +
					disqus_shortname +
					'.disqus.com/count.js';
				(document.getElementsByTagName('HEAD')[0]
					||
						document.getElementsByTagName('BODY')[0]).appendChild(s);
			}());
		</script>
		{% block extra_js %}
		{% endblock %}
    </body>
</html>
