{% extends 'dashboards/base.html' %}

{% load i18n %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {% trans 'Palestras' %}
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboards:dashboard-index-view' %}">
                <i class="fa fa-dashboard"></i> Home
            </a>
        </li>
        <li>
            <a href="{% url 'dashboards:dashboard-screencast-list-view' %}">
                <i class="fa fa-video-camera"></i>
                {% trans 'Videos' %}
            </a>
        </li>
        <li>
            <a href="{% url 'dashboards:dashboard-screencast-list-view' %}">
                <i class="fa fa-comments-o"></i>
                {% trans 'Medias' %}
            </a>
        </li>
        <li class="active">
            {% trans 'Criar' %}
        </li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">
                        {% if media.id %}
                           {% trans 'Edite sua media' %}
                        {% else %}
                           {% trans 'Crie sua media' %}
                        {% endif %}

                    </h3>
                </div><!-- /.box-header -->
                <!-- form start -->

                <form role="form" action="{% if media.id %}{% url "dashboards:dashboard-mediascreencast-update-view" media.id %}{% else %}.{% endif %}" method="post">{% csrf_token %}
                    <div class="box-body">
                        <div class="form-group ">
                            {{ form.screencast.label_tag }} 
                            <a href="{% url "dashboards:dashboard-screencast-create-view"  %}">
                                <i class="fa fa-plus text-green"></i>
                            </a>
                            {{ form.screencast }}
                            <p class="text-aqua">
                                {{ form.screencast.help_text }}
                            </p>
                        </div>
                        <div class="form-group{% if form.type.errors %} has-error{% endif %}">
                            {{ form.type.label_tag }}
                            {{ form.type }}
                            <p class="text-aqua">
                                {{ form.type.help_text }}
                            </p>
                            {% if form.type.errors %}
                                {% for error in form.type.errors %}
                                    <p class="text-red"> {{ error }} </p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group{% if form.title.errors %} has-error{% endif %}">
                            {{ form.title.label_tag }}
                            {{ form.title }}
                            <p class="text-aqua">
                                {{ form.title.help_text }}
                            </p>
                            {% if form.title.errors %}
                                {% for error in form.title.errors %}
                                    <p class="text-red"> {{ error }} </p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group{% if form.url.errors %} has-error{% endif %}">
                            {{ form.url.label_tag }}
                            {{ form.url }}
                            <p class="text-aqua">
                                {{ form.url.help_text }}
                            </p>
                            {% if form.url.errors %}
                                {% for error in form.url.errors %}
                                    <p class="text-red"> {{ error }} </p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            {% trans "Enviar" %}
                        </button>
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
</section>
{% endblock %}
