{% extends 'dashboards/base.html' %}

{% load i18n %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {% trans 'Séries' %}
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboards:dashboard-index-view' %}">
                <i class="fa fa-dashboard"></i> Home
            </a>
        </li>
        <li>
            <a href="{% url 'dashboards:dashboard-screencast-index-view' %}">
                <i class="fa fa-video-camera"></i>
                {% trans 'Videos' %}
            </a>
        </li>
        <li class="active">
            {% trans 'Deletar' %}
        </li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">
                           {% trans 'Deletar a série' %}
                    </h3>
                </div><!-- /.box-header -->
                <!-- form start -->

                <form role="form" method="post">{% csrf_token %}
                    <div class="box-body">
                        <div class="alert alert-danger alert-dismissable">
                            <i class="fa fa-ban"></i>
                            {% blocktrans %}
                            <b>Alerta!</b> Você tem certeza que deseja deletar {{ object }}
                            {% endblocktrans %}
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            {% trans "Enviar" %}
                        </button>
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
</section>
{% endblock %}
